# Firebase build/cache
.firebase/
functions/.next/
functions/.output/
functions/.cache/

# Node dependencies
node_modules/
functions/node_modules/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db
.firebase/
node_modules/
*.log
.next
